name: Update Preschool Data

on:
  schedule:
    # Runs once a week 00:00, only on Sunday
    - cron: '0 0 * * 0'
  workflow_dispatch: # Allow manual trigger

jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"

    - name: Fetch Data
      run: cd preschools && uv run fetch_data.py

    - name: Commit and push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "data: update preschools data"
        file_pattern: "preschools/*.json preschools/*.geojson"
